.white{
  --bg: #a8a8a8;
  --gray: #494949;
  --gray-active: #5e5e5e;
  --light-gray: #797878;
  --white: #FFFFFF;
}

.dark{
  --bg: #1D1D1D;
  --gray: #262626;
  --gray-active: #2F2F2F;
  --light-gray: #4D4D4D;
  --white: #FFFFFF;
}